body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--dark);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--font-size-3xl);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-2xl);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h4,
h5,
h6 {
  font-size: var(--font-size-base);
  font-weight: 600;
}

p {
  margin-bottom: var(--spacing-md);
}

small {
  font-size: var(--font-size-sm);
}
